body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: red;
  color: white;
  padding: 50px;
  text-align: center;
}

.content {
  width: 60%;
  background-color: orange;
  color: white;
  padding: 200px;
  text-align: center;
}

.sidebar {
  width: 40%;
  background-color: green;
  color: white;
  padding: 200px;
  text-align: center;
}

.footer {
  background-color: blue;
  color: white;
  padding: 50px;
  text-align: center;
}
